.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post {
    width: 40vw;
    margin-bottom: 20px;
}

#content-post {
    text-align: center;
}

ul#comments {
    list-style: none;
}

ul#comments li {
    background-color: #e9e7e7;
    padding: 5px;
    margin-bottom: 5px;
}
